body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: rgb(128, 255, 212);
}
.calcolatrice{
   margin: 30px auto;
    width: 340px;
    height: 600px;
    border-radius: 20px;
    float: right;
    
}
#calc input {
    width:40px;
    height:40px;
    margin:1px;
    font-size:15px;
  }
  .area {
    margin-left: 4px;
    width:170px;
    height:30px;
    padding:2px;
    text-align:right;
    font-size:20px
  }

